.header{
    color: red;
}


.mapsize {
    height: 600px;
    width: 100%;
}
.custom-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:lightgreen;
    border: 2px solid white;
    color:white;
    font-size:20px;
    text-align:center;
  }
  .mapSearch {
    margin-top: 5px;
    //position: absolute;
    z-index: 9;
    margin-left: 2px;
    height: 40px;
    width: 220px;
    padding-left: 5px;
    border-style: none;
    border-radius: 3px;
    border-bottom-style: outset;
    border-bottom-width: 0.35px;
    border-color: green;
    background-color: lightsteelblue;
  }
  .btn-gap {
      padding-left: 4px;
      margin-top: -2px;

  }
  .light-shade {
      background-color: lightgray;
      padding: 0.3rem;
  }